ENVIRONMENT=development

DATABASE_URL=postgresql://postgres:password@localhost:45432/dbname
DATABASE_HOST=localhost
DATABASE_NAME=dbname
DATABASE_PASSWORD=password
DATABASE_USERNAME=postgres
DATABASE_PORT=45432

REDIS_URL=redis://default:your_redis_password@localhost:46379
REDIS_HOST=localhost
REDIS_PORT=46379
REDIS_PASSWORD=your_redis_password

JWT_SECRET=replace_me_jwt_secret
COOKIE_SECRET=replace_me_cookie_secret

TOPGG_TOKEN=

TOKEN=
DEV_TOKEN=
CLIENT_SECRET=
CALLBACK_URL=http://localhost:3000/auth/callback

LAVALINK_PASSWORD=change_me_lavalink_password
LAVALINK_HOST=localhost
LAVALINK_PORT=42333

OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=
OTEL_METRIC_EXPORT_INTERVAL=60000
OTEL_METRIC_EXPORT_TIMEOUT=30000

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
