[submodule "Lavalink"]
  path = Lavalink
  url = https://github.com/N-D-B-Project/Lavalink.git
[submodule "Database"]
  path = Database
  url = https://github.com/N-D-B-Project/Database.git
  branch = feat/tickets
[submodule "Languages"]
	path = src/common/Languages
	url = https://github.com/N-D-B-Project/Localization
	branch = N-D-B_feat/tickets
