# Folders
node_modules/
env/
logs/
Backup/
Text Files/
**/Ignore/
.vscode/
.vs/

# Files
yarn.lock                   
#package-lock.json           #Comment this ignore to user the file in node.js.yml checks
yarn-error.log
*.log
.env
**/*.ru
./conta.png
runnable-hiero.jar
AntiMerda.zip
*.broken
*.disable
Resolver.txt